:root {
    --primary-color: #1B3C53;
    --secondary-color: #234C6A;
    --third-color: #456882;
    --fourth-color: #D2C1B6;
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    border: 0;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 30% 70%;
}

#nav {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--primary-color);
    height: 100vh;
}

#nav button,
.new-task,
.delete {
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    background: none;
    text-align: left;
    font-weight: bold;
    color: var(--fourth-color);
    cursor: pointer;
    text-transform: capitalize;
}

.new-task {
    color: var(--primary-color);
}

#container {
    background-color:#f8f8f8 ;
    padding-left: 10px;
    padding-top: 20px;
}

.all-projects {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
}

.all-projects a {
    color: white;
    font-size: 20px;
    
}

h1, h2, h3 {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

p {
    font-size: 18px;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.itemDiv {
    border-radius: 10px;
    background-color: var(--fourth-color);
    padding: 10px;
    margin: 20px;
    box-shadow: 3px 3px var(--primary-color);
}

.dialog,
.project-dialog {
    margin-left: 200px;
    margin-top: 200px;
    width: 400px;
    height: 350px;
    border: none;
    border-radius: 10px;
    padding: 20px;
}

.buttons button {
    background-color:  var(--primary-color);
    width: 80px;
    color: var(--white);
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form div {
    display: flex;
    flex-direction: column;
}

.form .buttons,
.project-dialog .buttons {
    flex-direction: row;
    justify-content: space-between;
}

.form div input:focus {
    border: 1px solid rgb(95, 95, 63);
    height: 25px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
}

form input {
    border: 1px solid var(--third-color);
    height: 25px;
    border-radius: 5px;
    font-size: 18px;
}

.form div select {
    height: 25px;
    font-size: 18px;
}

.project-heading {
    text-transform: capitalize;
}

.delete {
    color: var(--primary-color);
}

.project-div {
    display: flex;
    font-size: 20px;
    text-align: left;
    gap: 20px;
    align-items: center;
}
.project-div img {
    height: 20px;
}
